<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/verify.css">
  <title>送信完了 - BrewShare</title>
</head>

<body>

  <div class="verify">
    <header>
      <a th:href="@{/}">
        <h2>BrewShare</h2>
      </a>
      <div class="border"></div>
    </header>

    <main>
      <p th:text="${successMessage}">aaa</p>
    </main>
  </div>

</body>

</html>
</body>

</html>