

.loginPage {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginImg {
    width: 50%;
}

.loginImg>img {
    width: 100%;
    border-radius: 20px;
    transform: translateX(-2%);
}

.loginForm {
    flex: 1;
    padding: 10px;
    height: 60%;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 1% auto;
    
}

/* エラーメッセージ用 */
.info>div>p {
    text-align: center;
    margin: 5px 0px;
    color: tomato;
}

/* 入力フォーム */

.formBody{
    flex: 0.5;
    padding-top: 1%;
}

input,
button {
    display: block;
    width: 40%;
    height: 40px;
    margin: 40px auto;
    border: 1px solid #1010102d;
    border-radius: 4px;
    background-color: #fcfcfc;
}

input:focus {
    border: 1px solid tomato;
    box-shadow: 0 0 2px 1px rgba(218, 144, 60, 0.247);
    outline: none;
}

button {
    width: 15%;
    background-color: #202020;
    color: #fcfcfc;
}

button:hover {
    background-color: #fcfcfc;
    color: #202020;
    transition: 0.3s;
}

a {
    display: block;
    text-align: center;
    color: #949494;
    margin: auto;
    width: 40%;
}

a:hover {
    color: #adadad;
}

/* 以下新規登録フォームへ */

.border {
    border-bottom: 1px solid #bbbbbb;
    margin: 0px auto;
    width: 30%;
}

.createUser {
    width: 15%;
    background-color: #fcfcfc;
    color: #202020;
}

.createUser:hover {
    background-color: #202020;
    color: #fcfcfc;
    transition: 0.3s;
}

@media (max-width:700px){

    input {
        width: 65%;
    }

    button {
        width: 30%;
    }

    .createUser {
        width: 30%;
    }

    .newUserForm>.border {
        width: 50%;
    }
    
}