<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Potta+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/body.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/mypage.css">
  <title>マイページ- BrewShare</title>
</head>

<body>

  <!-- 遷移時メッセージ -->
  <div th:replace="~{/htmlComponent/message :: message}"></div>

  <!-- headerを挿入 -->
  <header th:replace="~{/htmlComponent/header :: header}"></header>

  <main>

    <h2>マイページ</h2>

    <div class="mypageMenu">

      <div class="iconImg">
        <img th:src="@{/user_icon/{img}(img=${user.img})}" id="preview" alt="ユーザーアイコン" width="150" />
        <a th:href="@{/changeIcon}"><button>アイコンを更新</button></a>
      </div>

      <div class="contents">

        <div class="content">
          <span>ユーザー名</span>
          <span id="userName" th:text="${user.name}"></span>
          <button id="openModal">編集</button>
        </div>

        <div class="content">
          <span>メールアドレス</span>
          <span th:text="${user.email}"></span>
        </div>

        <div class="content buttonFlex">
          <a th:href="@{/updataPw}">
            <button>パスワード再設定</button>
          </a>
          <a th:href="@{/deleteAccount}">
            <button class="deleteButton">アカウント削除</button>
          </a>
        </div>
      </div>

    </div>

    <!-- 名前更新モーダル -->
    <div class="modal" id="modal">

      <form th:action="@{/changeName}" method="post">

        <button class="closeModal">
          <span class="material-symbols-outlined">
            close
          </span>
        </button>

        <div class="formInput">
          <input type="text" name="editName" id="editName" th:value="${user.name}">
          <button type="submit">更新</button>
        </div>

      </form>

    </div>

  </main>
  <script id="iconImg" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
  <script src="/js/img_preview.js"></script>
  <script>

    // 名前更新用モーダル
    $("#openModal").on("click", function () {
      $("#modal").show();
    });

    $("#closeModal").on("click", function () {
      $("#modal").hide();
    });

    // Close modal when clicking outside of it
    $(document).on("click", function (e) {
      if (!$(e.target).closest("form").length && !$(event.target).is("#openModal")) {
        $("#modal").hide();
      }
    });


  </script>

  <script>
    function reloadUserIcon() {
      let imgElement = document.getElementById("preview");
      let imgUrl = imgElement.src.split("?")[0]; // 元のURLを取得
      imgElement.src = imgUrl + "?t=" + new Date().getTime(); // タイムスタンプを付与して更新
    }

    document.addEventListener("DOMContentLoaded", reloadUserIcon);
  </script>




</body>

</html>