<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/header.css">
  <title>ホーム - BrewShare</title>
</head>

<body>
  <header th:fragment="header">
    <div class="menu">

      <ul class="headerMenu">

        <li class="active">
          <a th:href="@{/}">
            <h1>Share Brew</h1>
          </a>
        </li>

        <li class="headerSearch">
          <form type="search" method="get" th:action="@{/search}">
            <input class="searchBar" type="text" name="beanSearch" placeholder=" 豆の種類で他のレシピを検索" required>
          </form>
        </li>

        <li class="userIcon">
          <img th:src="@{/user_icon/{img}(img=${user.img})}" alt="ユーザーアイコン">
          <div class="sub_menu">
            <ul>
              <li><a th:href="@{/mypage}">
                  <span class="material-symbols-outlined">
                    demography
                  </span>
                  <span>
                    マイページ
                  </span>
                </a>
              </li>
              <li>
                <a th:href="@{/Favorite}">
                  <span class="material-symbols-outlined">
                    bookmark
                  </span>
                  <span>
                    ブックマーク
                  </span>
                </a>
              </li>
              <li>
                <a th:href="@{/logout}"
                  onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                  <span class="material-symbols-outlined">
                    logout
                  </span>
                  <span>ログアウト</span>
                </a>
                <form id="logout-form" th:action="@{/logout}" method="post"></form>
              </li>
            </ul>
          </div>
        </li>

        <li class="addRecipe">
          <a th:href="@{/createRecipe}" class="registRecipe">
            <span class="material-symbols-outlined">
              edit_square
            </span>
            <span>レシピ追加</span>
          </a>
        </li>

      </ul>

      <form class="mediaHeaderSerch" type="search" method="get" th:action="@{/search}">
        <input class="searchBar" type="text" name="beanSearch" placeholder=" 豆の種類で他のレシピを検索" required>
      </form>

    </div>
  </header>

</body>

</html>